.desno{
    text-align: right;
}

.ljevo{
    text-align: left;
}

.sredina{
    text-align: center;
}

.btn-success {
    background-color: #0f9939;
}

.gumb{ 
    width: 100%;
    margin-bottom: 10px;
}


.akcije{
    margin-top: 1.5rem;
}

