.desno{
    text-align: right;
}
.sredina{
    text-align: center;
}
.gumb{
    width: 100%;
    margin-bottom: 5px;
}

.btn-success {
    background-color: #31a554;
}

.akcije{
    margin-top: 1.5rem;
}
.labelaAtributa:first-letter {
    text-transform: uppercase;
}

.form-check-label:first-letter {
    text-transform: uppercase;
}